*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.6s;
}

body{
    width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: antiquewhite;
}
.list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
}
li {
    width: 300px;
    height: 500px;
    box-shadow: 0 0 20px black;
    border-radius: 12px;
}
li {
    margin-top: 40px;
    position: relative;
}

li > img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 12px;
}
li > h1 {
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
    padding-left: 20px;
}
p{
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 20px;
    padding-left: 20px;

}

button {
    padding: 6px;
    cursor: pointer;
    background-color: #fdfdfd;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

input {
    margin-top: 20px;
    padding: 8px;
    border-radius: 12px;
    outline: none;
    font-weight: bold;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head{
    margin-top: 18px;
    font-family: monospace;
    font-size: 35px;
    margin-right: 400px;
    display: flex;
    align-items: center;
    position: relative;
}
.head::after {
    position: absolute;
    display: block;
    content: "";
    width: 50px;
    height: 40px;
    background-color: #FAEBD7;
    right: 156px;
    animation: anim 1s ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes anim {
    0%{
        transform: translateX(0);

    }
    50%{
        border-radius: 50%;
    }
    100%{
        transform: translateX(259px);
    }
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100000;
    width: 600px;
    height: 400px;
    background-color:#fff;
    border-radius: 21px;
    box-shadow: inset 0 0 20px black;
    display: none;
}

.block{
    display: block;
    animation: animate 1s ease-in-out;
    animation-iteration-count: 1;
}
@keyframes animate {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}
.opacoty{
    opacity: 0.2;
}
.delete{
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    background-image: url("./images/delete.jpg");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-size: 100%;
}
.delete:hover{
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
}

.dn{
    display: none;
}